
balto-finnic dictionaries and corpora/vepkardb-20230201.gz
balto-finnic dictionaries and corpora/vepkardb-20230201/vepkardb-20230201-original.sql
balto-finnic dictionaries and corpora/vepkardb-20230201/vepkardb-20230201-formysql8.sql
balto-finnic dictionaries and corpora/vepkardb-20230201/vepkardb-20230201-formysql5.sql
balto-finnic dictionaries and corpora/vepkardb-20230201/vepkardb-20230201
ResultsForOTSoft*.htm
*wdel_wtr*ixnDraftOutput.txt

*.pyc
.idea/*
simulation_outputs/*/*/StringencyRelationsAmongContraints*.txt
simulation_outputs/*/*/*/StringencyRelationsAmongContraints*.txt
